{% extends 'base.html' %}
{% load static %}

{% block title %}
Banking
{% endblock %}

{% block content %}
               <section class="banner_main">
                  <div id="banner1" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#banner1" data-slide-to="0" class="active"></li>
                        <li data-target="#banner1" data-slide-to="1"></li>
                        <li data-target="#banner1" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container-fluid">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12 col-lg-7">
                                       <div class="text-bg">
                                          <span>Progress & Success</span>
                                          <h1>c u r r e n c y</h1>
                                          <p>It is a long established fact that a reader will be distracted by the readable It is a long established fact that a reader will be distracted by the readable </p>
                                          <a class="read_more" href="#"><img src="{% static 'images/btn_h.png' %}" alt="#"/> Discover Now</a>
                                       </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5">
                                       <div class="text_img">
                                          <figure><img src="{% static 'images/ban_img.png' %}" alt="#"/></figure>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container-fluid">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12 col-lg-7">
                                       <div class="text-bg">
                                          <span>Progress & Success</span>
                                          <h1>c u r r e n c y</h1>
                                          <p>It is a long established fact that a reader will be distracted by the readable It is a long established fact that a reader will be distracted by the readable </p>
                                          <a class="read_more" href="#"><img src="{% static 'images/btn_h.png' %}" alt="#"/>  Discover Now</a>
                                       </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5">
                                       <div class="text_img">
                                          <figure><img src="{% static 'images/ban_img.png' %}" alt="#"/></figure>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container-fluid">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-12 col-lg-7">
                                       <div class="text-bg">
                                          <span>Progress & Success</span>
                                          <h1>c u r r e n c y</h1>
                                          <p>It is a long established fact that a reader will be distracted by the readable It is a long established fact that a reader will be distracted by the readable </p>
                                          <a class="read_more" href="#"><img src="{% static 'images/btn_h.png' %}" alt="#"/>  Discover Now</a>
                                       </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5">
                                       <div class="text_img">
                                          <figure><img src="{% static 'images/ban_img.png' %}" alt="#"/></figure>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                     <i class="fa fa-chevron-left" aria-hidden="true"></i>
                     </a>
                     <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                     <i class="fa fa-chevron-right" aria-hidden="true"></i>
                     </a>
                  </div>
               </section>

      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
{% endblock content %}
<!--   </body>-->
<!--</html>-->